{% extends 'blog/base.html' %}

{% block title %}Followed!{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p>
  <a href="{% url 'logout' %}">Logout</a>
  <br>
  <a href="{% url 'blog:profile_edit' %}">Edit Your Profile</a>
  <br>
  <a href="{% url 'blog:home' %}">Feed</a></p>
  <br>
  <h1>You have followed {{ userfollowed }}</h1>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a>
  <br>
  <a href="{% url 'blog:signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
